<main>
  <!--first page-->
  <div class="gui
       de">
    <section>
      @Html.ActionLink("首頁", "Index", "Home")
      <span>></span>
      @Html.ActionLink("地仁茗茶", "About1", "Introduce")
      <span>></span>
      @Html.ActionLink("未來展望", "About4", "Introduce")
    </section>

  </div>
  <section class="A4home">

    <section class="list">
      @Html.ActionLink("公司資訊", "About1", "Introduce")
      @Html.ActionLink("經營理念", "About2", "Introduce")
      @Html.ActionLink("經營團隊", "About3", "Introduce")
      @Html.ActionLink("未來展望", "About4", "Introduce")
    </section>
    <section class="title">
      <h2>未來展望</h2>
    </section>
    <section class="homepage">

      <h4>地仁在「新行業，不經營」的第二波改造之願景下，以建立「可以不去競爭優勢」為目標，以廉價的服務、古早的文化、開創企業永續的價值，逐步的實現「有手搖店的地方，就有地仁茗茶」。</h4>
      <img src="~/Image/資源包/tea-2616066_960_720.jpg">

    </section>


  </section>

</main>
