<main>
  <!--first page-->
  <div class="gui
       de">
    <section>
      @Html.ActionLink("首頁", "Index", "Home")
      <span>></span>
      @Html.ActionLink("地仁茗茶", "About1", "Introduce")
      <span>></span>
      @Html.ActionLink("經營團隊", "About3", "Introduce")
    </section>

  </div>
  <section class="A3home">

    <section class="list">
      @Html.ActionLink("公司資訊", "About1", "Introduce")
      @Html.ActionLink("經營理念", "About2", "Introduce")
      @Html.ActionLink("經營團隊", "About3", "Introduce")
      @Html.ActionLink("未來展望", "About4", "Introduce")
    </section>
    <section class="title">
      <h2>經營團隊</h2>
    </section>
    <section class="homepage">
      <table>
        <tr>
          <th>職稱</th>
          <th>國籍</th>
          <th>姓名</th>
          <th>就職日期</th>
          <th>學歷/經歷</th>
        </tr>
        <tr>
          <td>董事長</td>
          <td>台灣</td>
          <td>王金發</td>
          <td>2020.1.2</td>
          <td>台灣大學<br>宜蘭大學副教授<br>北科廠廠長</td>
        </tr>
        <tr>
          <td>副董事長</td>
          <td>台灣</td>
          <td>黃曉明</td>
          <td>2020.1.5</td>
          <td>台北大學<br>金發科技董事<br>禿頭協會董事<br></td>
        </tr>
        <tr>
          <td>總經理</td>
          <td>日本</td>
          <td>王北北</td>
          <td>2020.2.2</td>
          <td>高雄科技大學<br>清華碩士</td>
        </tr>
        <tr>
          <td>副總經理</td>
          <td>台灣</td>
          <td>黃金發</td>
          <td>2020.3.21</td>
          <td>雲林大學<br>牛津大學碩士</td>
        </tr>
        <tr>
          <td>製茶廠廠長</td>
          <td>台灣</td>
          <td>李金發</td>
          <td>2020.4.1</td>
          <td>基隆大學<br>台灣大學碩士</td>
        </tr>
        <tr>
          <td>企業管理經理</td>
          <td>台灣</td>
          <td>陳金發</td>
          <td>2020.4.5</td>
          <td>中原大學<br>淡江大學碩士</td>
        </tr>
        <tr>
          <td>會計部經理</td>
          <td>台灣</td>
          <td>吳金發</td>
          <td>2020.4.4</td>
          <td>宜蘭大學<br>淡江大學碩士</td>
        </tr>
        <tr>
          <td>財務部經理</td>
          <td>台灣</td>
          <td>蔡金發</td>
          <td>2020.6.17</td>
          <td>金門大學</td>
        </tr>
        <tr>
          <td>人事部經理</td>
          <td>台灣</td>
          <td>劉金發</td>
          <td>2020.7.21</td>
          <td>北京大學</td>
        </tr>
        <tr>
          <td>業務主管</td>
          <td>台灣</td>
          <td>歐陽金發</td>
          <td>2020.7.29</td>
          <td>清華大學</td>
        </tr>
        <tr>
          <td>行銷顧問</td>
          <td>台灣</td>
          <td>林金發</td>
          <td>2020.8.5</td>
          <td>政治大學</td>
        </tr>
      </table>
    </section>


  </section>

</main>