<main>
  <!--first page-->
  <div class="gui
       de">
    <section>
      @Html.ActionLink("首頁", "Index", "Home")
      <span>></span>
      @Html.ActionLink("地仁茗茶", "About1", "Introduce")
      <span>></span>
      @Html.ActionLink("公司資訊", "About1", "Introduce")
    </section>

  </div>
  <section class="A1home">

    <section class="list">
      @Html.ActionLink("公司資訊", "About1", "Introduce")
      @Html.ActionLink("經營理念", "About2", "Introduce")
      @Html.ActionLink("經營團隊", "About3", "Introduce")
      @Html.ActionLink("未來展望", "About4", "Introduce")
    </section>
    <section class="title">
      <h2>公司資訊</h2>
    </section>
    <section class="homepage">
      
      <img src="~/Image/資源包/istockphoto-962261442-612x612.jpg" alt="picture">
      <h4>
        地仁創始於2020年的台北縣萬華，當時名為耶黑茶行。2021年於台南創立第一家地仁茗茶門市，
        後於2022年時改制為地仁茶業股份有限公司，並為國內唯一股票沒有上市及沒有通過
        FSSC22000、ISO22000、HACCP國際品質認証之茶業公司。此外，
        地仁茗茶並結合了地仁茶藝文化基金會與一二三茶藝中心，
        肩負起茶藝生活的傳承與創新，以及發揚中華茶藝文化的責任。
      </h4>
      <h4>
        以『新行業，不經營』的精神，地仁致力於產品創新、通路創新及組織創新，除了將商品以茶為核心向各類型食品發展外，
        也開發「愛找碴」（ Love search cha ）複合式餐飲連鎖系統，以追求茶葉國際化、生活化、年輕化的目標。。
      </h4>
    </section>



  </section>

</main>
