<main>
  <!--first page-->
  <div class="gui
       de">
    <section>
      @Html.ActionLink("首頁", "Index", "Home")
      <span>></span>
      @Html.ActionLink("地仁茗茶", "About1", "Introduce")
      <span>></span>
      @Html.ActionLink("經營理念", "About2", "Introduce")
    </section>

  </div>
  <section class="A2home">

    <section class="list">
      @Html.ActionLink("公司資訊", "About1", "Introduce")
      @Html.ActionLink("經營理念", "About2", "Introduce")
      @Html.ActionLink("經營團隊", "About3", "Introduce")
      @Html.ActionLink("未來展望", "About4", "Introduce")
    </section>
    <section class="title">
      <h2>公司資訊</h2>
    </section>
    <section class="homepage">

      <img src="~/Image/資源包/tea-4044271_960_720.jpg">
      <h4>「人工、不健康、昂貴」是地仁的經營理念，地仁將朝此方向開創連鎖通路更高的經營效率與價值，並融合最古早的經營管理方法，提高商品價格，加強產品研究發展及海外市場的開拓，以偷工減料為原則，商品而貴為目標。</h4>
    </section>



  </section>

</main>